{% extends "network/layout.html" %}

{% block body %}

    <h2 class="profile"><strong>{{profile}}</strong> profile page</h2>
    <h3 class="profile">{{followers}} followers</h3>
    <h3 class="profile">{{profile}} is following {{following}} people</h3>
    <h4 class="profile">{{profile}} posts:</h4>
    {% if user.is_authenticated and user != profile %}
        <form id="follow">
            {% csrf_token %}
            {% if is_followed %}
                <button class="btn btn-primary" data-method="DELETE" data-id={{profile.id}}> Unfollow</button>            
            {% else %}
                <button class="btn btn-primary" data-method="POST" data-id={{profile.id}}> Follow</button>
            {% endif %}
        </form>
    {% endif %}
    <section class="posts">
        {% for post in posts %}
            <div class='post-container'>
                <p class="text">{{ post.content }}</p>
                <p class="text">{{ post.likes }} likes</p>
                {% if user.is_authenticated %}
                    <form class="toggle-like">
                        {% csrf_token %}
                        {% if post.is_liked %}
                            <button class="btn btn-primary" data-method="DELETE" data-id={{post.id}}> Dislike</button>
                        {% else %}
                            <button class="btn btn-primary" data-method="POST" data-id={{post.id}}>Like</button>
                        {% endif %}
                    </form>
                {% endif %}
                {% if user.is_authenticated and user == profile %}
                    <form class="edit">
                        {% csrf_token %}
                        <button class="btn btn-primary" data-id={{post.id}}> Edit </button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </section>
    <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
{% endblock %}